<予約一覧>

<table>
 <thead>
   <tr>
     <th>画像</th>
     <th>施設名</th>
     <th>紹介文</th>
     <th>合計料金</th>
     <th>チェックイン</th>
     <th>チェックアウト</th>
     <th>予定確定日時</th>
    </tr>
  </thead>

  <tbody>
   <% @reservations.each do |reservation| %>
      <tr>
        <td>
        <% if reservation.room.home_image? %>
            <%= image_tag reservation.room.home_image.url, class:'home_image' %>
        <% else %>
            <%= image_tag '/assets/default-home.png',:alt => '施設画像', class:'home_image' %>
        <% end %>
        </td>
        <td><%= link_to reservation.room.name, reservation.room %></td>
        <td><%= reservation.room.content %></td>
        <td><%= reservation.room.money * reservation.people.to_i%></td>
        <td><%= reservation.start_date.strftime("%Y/ %m/ %d") %></td>
        <td><%= reservation.end_date.strftime("%Y/ %m/ %d") %></td>
        <td><%= reservation.created_at.strftime("%Y/ %m/ %d /%H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>