<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<% if flash[:success] %>
  <p class="alert_success"><%= flash[:success] %></p>
<% else flash[:failure] %>
  <p class="alert_failure"><%= flash[:failure] %></p>
 <% end %> 

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>
        <% if room.home_image? %>
            <%= image_tag room.home_image.url,class: 'home_image' %>
        <% else %>
            <%= image_tag '/assets/default-home.png',:alt => '施設画像', class: 'home_image' %>
        <% end %>
        </td>
        <td><%= room.name %></td>
        <td><%= room.content %></td>
        <td><%= room.money %></td>
        <td><%= room.created_at.strftime("%Y/ %m/ %d") %></td>
        <td><%= link_to "詳細", room %></td>
        <td><%= link_to "編集", [:edit, room]  %></td>
        <td><%= link_to "削除",room, data: { turbo_method: :delete, turbo_confirm: "施設を削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "施設新規登録", :new_room %></p>